
body{background-color:#cae8d5;
margin:auto;
text-align: justify;}


hr{ background-color: #cae8d5;
width:90%;
border-width: 2px;
border-style: dotted none none;
border-color: 	#696969;
}

h1,h3{color: #222831;
}

h2{color:#40514e;}

.text { color:blue;}
.footer{
  margin: auto;
}
ul li {
  margin:auto;
  text-align: justify;
}
