body{
  background-color:#c3edea;
  margin:0;
}
.maincontainer{
  width:1000px;
  height: auto;
  margin: auto;
  background-color: #c3edea;
}
.topcontainer{
  width:1000px;
  height: 250px;
  background-color: #c3edea;
  float:left;
}
.blue{
  color: blue;
}
.midcontainereducation{
  width:1000px;
  height: 200px;
  background-color: #c3edea;
  float: left;
}
.sidecontainereducation{
  width:200px;
  height: 200px;
  background-color: #c3edea;
  float: left;
}
.middlecontainereducation{
  width:600px;
  height:200px;
  background-color: #c3edea;
  float:left;
}
.midcontainer{
  width:1000px;
  height: 300px;
  background-color: #c3edea;
  float: left;
}

.sidecontainer{
  width:200px;
  height: 300px;
  background-color: #c3edea;
  float: left;
}
.middlecontainer{
  width:600px;
  height:300px;
  background-color: #c3edea;
  float:left;
}
.midcontainer-experiance{
   width:1000px;
  height: 300px;
  margin:100px auto 100px auto;
  background-color: #c3edea;
  float: left;
}
.sidecontainer-experiance{
  width:200px;
  height: 300px;
  margin:100px auto 100px auto;
  background-color: #c3edea;
  float: left;
}
.middlecontainer-experiance{
  width:600px;
  height:300px;
  margin:100px auto 100px auto;
  background-color: #c3edea;
  float:left;
}
.footcontainer{
  width: 1000px;
  height:50px;
  background-color: #c3edea;
  float: left;
  text-align: center;

}
hr{
  width:80%;
  border-style:dotted none none none;
  border-color: grey;
  border-width: 5px;
}
.links{
  text-decoration: none;
  color:black;
  }
  .links:hover{
    color:blue;
  }
